[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Keras = "*"
numpy = "*"
SoundFile = "*"
librosa = "*"
tensorflow = "*"
h5py = "*"


[dev-packages]
